body{
  margin: 20px;
  background-color: var(--color-p1);
  background-image: url("../../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px -10px;
}

h1,h2,p{
  margin: 0px;
  padding: 0px;
}

.mb2{
  margin-bottom: 20px;
}

a{
  color:inherit
}

@media (max-width:800px){
  body{
  
    background-image: url("../../images/pattern-background-mobile.svg");
   
    background-position: 0px -10px;
  }
}